<div class="row">
    <div class="col s4 offset-s4 center">
        <img class="form-logo" src="/images/burning-red-logo.png" width="160px" alt="logo">
    </div>
    <div class="col s4 offset-s4 center">
        <h3>Log in</h3>
    </div>
    <% if (typeof(flash) != 'udefined' && flash.info) { %>
        <div class="input-field col s6 offset-s3">
            <%= flash.info %>
        </div>
    <% } %>
    <div class="row">
        <form class="" action="/login" method="post">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">email</i>
                    <label for="email">E-mail</label>
                    <input type="text" name="email" value="<%= typeof user != 'undefined' && user.email ? user.email : '' %>">
                </div>
                <div class="">
                    <% if (typeof(error) != 'udefined' && error.email) { %>
                        <label class=""> <%= error.email %> </label>
                    <% } %>
                </div>

                <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">vpn_key</i>
                    <label for="password">Password</label>
                    <input type="password" name="password" value="<%= typeof user != 'undefined' && user.password ? user.password : '' %>">
                </div>
                <div class="input-field col s6 offset-s3">
                    <% if (typeof(error) != 'udefined' && error.password) { %>
                        <label class=""> <%= error.password %> </label>
                    <% } %>
                </div>
                <div class="row">
                    <button type="submit" class="btn waves-effect waves-light red z-depth-4 col s2 offset-s5" name="button">Login <i class="material-icons right">send</i></button>
                </div>
                <form class="" action="/auth/google" method="post">
                    <div class="row">
                        <button type="submit" class="btn waves-effect waves-light grey darken-1 col s2 offset-s5 z-depth-4" name="button">Login w/ Google<i class="fa fa-google right"></i></button>
                    </div>
                </form>
                <form class="" action="#" method="post">
                    <div class="row">
                        <button type="submit" class="btn waves-effect waves-light blue darken-3 col s2 offset-s5 z-depth-4" name="button">Login w/ Facebook<i class="fa fa-facebook right"></i></button>
                    </div>
                </form>
            </div>
        </form>
    </div>
    <div class="col s4 offset-s4 center">
        <hr>
        <p>Dont have an account? <a href="/signup">Sign up!</a></p>
    </div>
</div>
