<div class="">
    <h3>Log in</h3>
</div>
<% if (typeof(flash) != 'udefined' && flash.info) { %>
    <div class="">
        <%= flash.info %>
    </div>
<% } %>
<form class="" action="/login" method="post">
    <div class="">
        <label for="email">E-mail</label>
        <input type="text" name="email" value="<%= typeof user != 'undefined' && user.email ? user.email : '' %>">
    </div>
    <div class="">
        <% if (typeof(error) != 'udefined' && error.email) { %>
            <label class=""> <%= error.email %> </label>
        <% } %>
    </div>

    <div class="">
        <label for="password">Password</label>
        <input type="password" name="password" value="<%= typeof user != 'undefined' && user.password ? user.password : '' %>">
    </div>
    <div class="">
        <% if (typeof(error) != 'udefined' && error.password) { %>
            <label class=""> <%= error.password %> </label>
        <% } %>
    </div>

    <button type="submit" class="btn waves-effect waves-light deep-purple lighten-1" name="button">Log in <i class="material-icons right">send</i></button>
</form>
<p>Dont have an account? <a href="/signup">Sign up!</a></p>
