<div class="row">
    <div class="bet-header center">
        <h2> <%= evnt.country_name %> </h2>
        <h5> - <%= evnt.league_name %> - </h5>
    </div>

    <div class="bet-description center">
        <p>
           <%= bet.description %>
        </p>
    </div>

    <div id="bet-live-result" class="col s12">
        <div class="row">
            <div id="left-result" class="col s4 center">
                <div class="hometeam_name">
                    <h4><%= evnt.match_hometeam_name %></h4>
                </div>
                <hr>
                <h1 class="hometeam_score"><%= evnt.match_hometeam_score %></h1>
                <hr>
                <div class="left-player">
                    <h5><%= user.username %></h5>
                    <h6><%= user.money %> $</h6>
                </div>
            </div>
            <div class="col s4 center">
                <h1 style="margin-top: 100px;">:</h1>
            </div>
            <div id="right-result" class="col s4 center">
                <div class="awayteam_name">
                    <h4><%= evnt.match_awayteam_name %></h4>
                </div>
                <hr>
                <h1 class="awayteam_score"><%= evnt.match_awayteam_score %></h1>
                <hr>
                <div class="right-player">
                    <h5>???</h5>
                    <h6>??? $</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row col s6 offset-s3">
        <div class="input-field col s12">
            <div id="map" class="bet-map"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    initMap();
</script>
